# compiled source
*.o
*.out

# compiled dynamic libraries
*.so
*.dylib

# compiled static libraries
*.a
*.lib

# executables
*.out
*.app

# data aka xml, txt, etc.
*.xml
*.dtd
*.xsd
*.xsl

# cmake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
Makefile
cmake_install.cmake

# youcompleteme
.ycm*

# log files
*.log
