# compiled source
*.o
*.out

# compiled dynamic libraries
*.so
*.dylib

# compiled static libraries
*.a
*.lib

# executables
*.out
*.app

# data aka xml, txt, etc.
*.xml
*.dtd
*.xsd
*.xsl

# test files
**xmltest
**dummy_directory

# cmake
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
Makefile
cmake_install.cmake

# youcompleteme
.ycm_*

# log files
*.log

# vim 
# undo files
*.un~
